body {
	width: 100%;
	height: 100%;
}

video {
	width: 100%;
	height: 100%;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	min-height: 100vh;
}

.playerContainer {
	position: relative;
	outline: none;
	line-height: 0;
}

.controlBar {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	align-items: center;
}

.playPauseButton {
	cursor: pointer;
	margin-left: 10px;
	width: 10px;
	min-width: 10px;
	height: 10px;
	min-height: 10px;
	transition: all 200ms ease;
	background-color: black;
}

.playPauseButton:hover {
	transform: scale(1.1);
}

.isPlaying {
	background-color: white;
}

.muteButton {
	width: 10px;
	height: 10px;
	min-width: 10px;
	min-height: 10px;
	background-color: white;
	margin-left: 10px !important;
	transition: all 200ms ease;
	cursor: pointer;
}

.muteButton:hover {
	transform: scale(1.1);
}

.isMuted {
	background-color: black;
}

.volumeController {
	position: relative;
	margin-left: 10px !important;
	width: 100%;
	max-width: 80px;
	height: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.volumeBar {
	background-color: red;
	position: absolute;
	height: 10px;
	top: 0;
	left: 0;
	bottom: 0;
	pointer-events: none;
	transition: all 200ms ease;
	width: 100%;
	transform-origin: 0 0;
	transform: scaleX(0);
}

.timeline {
	position: relative;
	margin-left: 10px !important;
	width: 100%;
	height: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

.timelineLoadingBar {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	height: 10px;
	top: 0;
	left: 0;
	bottom: 0;
	pointer-events: none;
	width: 100%;
	transform-origin: 0 0;
	transform: scaleX(0);
}

.timelineBar {
	background-color: cyan;
	position: absolute;
	height: 10px;
	top: 0;
	left: 0;
	bottom: 0;
	pointer-events: none;
	width: 100%;
	transform-origin: 0 0;
	transform: scaleX(0);
}

.currentTimer {
	font-family: sans-serif;
	font-size: .7em;
	margin-left: 10px !important;
	color: white;
}

.durationTimer {
	font-family: sans-serif;
	font-size: .7em;
	margin-left: 10px !important;
	color: white;
}

.isTransiting {
	transition: all 100ms ease; 
}

.fullscreenButton {
	width: 10px;
	height: 10px;
	min-width: 10px;
	min-height: 10px;
	background-color: white;
	margin: 0 10px !important;
	cursor: pointer;
	transition: all 200ms ease;
}

.fullscreenButton:hover {
	transform: scale(1.1);
}

.fullscreenIsActive {
	background-color: black;
}

.fullscreenMode {
	width: 100% !important;
	height: 100% !important;
	background-color: black;
}

/*Hide controls*/
::-webkit-media-controls {
  display:none !important;
}

.playerContainer:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
	background-color: black;
}