body {
	width: 100%;
	height: 100%;
	background-color: #0e0e0e;
}

video {
	width: 100%;
	height: 100%;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	min-height: 100vh;
}

.playerContainer {
	position: relative;
	outline: none;
	line-height: 0;
}

.controlBar {
/*	opacity: 0;
*/	min-width: 400px;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	align-items: center;
	transition: opacity 500ms ease;
	pointer-events: none;
}

.controlBar > div {
	float: left;
}

.controlBar > div:last-child {
	float: right;
}

.controlBarIsActive {
	opacity: 1;
	pointer-events: auto;
}

.cursorIsRemoved {
	cursor: none;
}

.playPauseButton {
	display: inline-block;
	cursor: pointer;
	margin-left: 10px !important;
	width: 10px;
	min-width: 10px;
	height: 10px;
	min-height: 10px;
	transition: all 200ms ease;
	background-color: rgba(0, 0, 0, 0.5);
}

.playPauseButton:hover {
	transform: scale(1.1);
}

.isPlaying {
	background-color: white;
}

.volumeContainer {
	display: flex;
	flex-direction: row;
}

.muteButton {
	flex-shrink: 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	min-width: 10px;
	min-height: 10px;
	background-color: white;
	margin: 0 10px !important;
	transition: all 200ms ease;
	cursor: pointer;
}

.muteButton:hover {
	transform: scale(1.1);
}

.isMuted {
	background-color: rgba(0, 0, 0, 0.5);
}

.volumeController {
	flex-shrink: 0;
	position: relative;
	display: inline-block;
	width: 0;
	height: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	transition: all 200ms ease;
}

.volumeControllerHovered {
	width: 80px;
	margin-right: 10px !important;
}

.volumeBar {
	display: inline-block;
	background-color: #3498db;
	position: absolute;
	height: 10px;
	top: 0;
	left: 0;
	bottom: 0;
	pointer-events: none;
	transition: all 200ms ease;
	width: 100%;
	transform-origin: 0 0;
	transform: scaleX(0);
}

.timeline {
	position: absolute;
	top: -9px;
	left: 0;
	right: 0;
	width: 100%;
	height: 12px;
	background-color: rgba(0, 0, 0, 1);
	cursor: pointer;
	transform: scaleY(0.5);
	transition: all 200ms ease;
}

.timeline:hover {
	transform: scaleY(1);
}

.timelineLoadingBar {
	background-color: rgba(52, 152, 219, 0.4);
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	pointer-events: none;
	width: 100%;
	transform-origin: 0 0;
	transform: scaleX(0);
}

.timelineBar {
	background-color: #3498db;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	pointer-events: none;
	width: 100%;
	transform-origin: 0 0;
	transform: scaleX(0);
}

.timerComplete {
	line-height: 1em;
	display: inline-block;
	font-family: sans-serif;
	font-size: .7em;
	height: 10px;
	color: white;
}

.isTransiting {
	transition: all 100ms ease; 
}

.fullscreenButton {
	display: inline-block;
	float: right; 
	width: 10px;
	height: 10px;
	min-width: 10px;
	min-height: 10px;
	background-color: white;
	margin: 0 10px !important;
	cursor: pointer;
	transition: all 200ms ease;
}

.fullscreenButton:hover {
	transform: scale(1.1);
}

.fullscreenMode {
	width: 100% !important;
	height: 100% !important;
	background-color: black;
}

/*Hide controls*/
::-webkit-media-controls {
  display:none !important;
}

.playerContainer:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
	background-color: black;
}